:root {
  --primary-blue: #005cff;
  --primary-blue-hover: #0049d6;
  --dark-gray: #dedede;
  --soft-gray: #f5f5f5;
  --paragraph-color-soft: #303030;
  --paragraph-color-dark: #000000;
  --soft-cyan: #5ec0be;
}
